* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}

/******************** Headings ********************/

h1 {
    color: #000000;
    font-size: 5.2rem;
    font-family: "Montserrat";
    margin: 50 0 0 0;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    color: #000000;
    font-weight: bold;
    padding-top: 5%;
}

h3{
    color: #000000;
}

p {
    line-height: 2;
}

/******************** Navbar ********************/

.navbar {
    background-color: #ffffff;
    padding: 1.5%;
}

.navbar-brand {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 0px;
    padding-left: 9%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: bold;
}

.dropdown-blogs {
    background-color: #ffffff;
}

.dropdown-blogs a {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: bold;
}

/******************** Containers ********************/

.about-container {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 70px;
}

.container-skills {
    padding: 3% 5% 3% 5%;
}

/******************** About ********************/

.aakash {
    width: 100%;
    position: absolute;
    right: 30%;
}

.about-text {
    text-align: left;
    padding-left: 10%;
}

.hello-text {
    font-size: 3rem;
}

.intro {
    font-size: 3rem;
    padding: 0%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.name {
    color: rgb(0, 0, 160);
    font-style: normal;
}

.wecodifiers-link {
    color: #000;
}

.wecodifiers-link:hover {
    font-size: 1.8rem;
}

.no-padding {
    font-size: 1.6rem;
    font-weight: normal;
    padding: 0%;
    padding-top: 1%;
}

/******************** Social Icons ********************/

.intro-icons {
    padding-top: 5%;
    padding-left: 0%;
}
.envelope {
    background: #e25748;
    color: white;
}
.instagram {
    background: #125688;
    color: white;
}
.linkedin {
    background: #007bb5;
    color: white;
}
.github {
    background: #272727;
    color: white;
}
.twitter {
    background: #55ACEE;
    color: white;
}

.rounded-circle {
    border-radius: 50%;
    padding: 16px;
    font-size: large;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
}

.rounded-circle:hover {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

/******************** Skills ********************/

.skills-heading {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.2rem;
}

.skills-box {
    padding-bottom: 5%;
}

.box-skills {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
}

.skills-title {
    color: #3f3d3d;
    font-size: 23px;
    font-weight: bold;
}

.skill-assets {
    margin-bottom: 25px;
    padding: 7%;
    width: 100%;
}

.box-skills:hover img {
    transform: scale(1.2);
}

/******************** Projects ********************/

.projects-headline {
    padding-top: 3%;
    font-size: 2.4rem;
}

.projects {
    padding: 2%;
    padding-bottom: 7%;
    margin-left: 0;
    margin-right: 0;
}

.box-projects {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
}

.box-projects:hover img {
    transform: scale(1.1);
}

.project-col {
    padding-top: 3%;
}

.project-name {
    padding-bottom: 3%;
    color: #3f3d3d;
    font-size: 23px;
    font-weight: bold;
    line-height: 2;
}

.project-link {
    color: #798cf7;
    font-size: 20px;
    font-weight: bold;
}

.project-link:hover {
    color: #4c58ff;
}

.website-image {
    width: 100%;
    padding-bottom: 10%;
    /* padding: 10%; */
}

a:hover {
    text-decoration: none;
}

/******************** Contact ********************/

.contact-head {
    padding-bottom: 5%;
}

.contact-row {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    justify-content: center;
}

.email-box, .address-box {
    background: #c4eeff;
    padding: 3%;
}

.mail-me, .map {
    padding-bottom: 5%;
    font-size: xx-large;
}

.mail-me:hover, .map:hover {
    color: #007bff;
}

.contact-heading {
    font-size: 1.5rem;
}

.contact-desc {
    color: gray;
    font-size: 14px;
}

/******************** Media Queries ********************/

@media (max-width: 550px) {
    .skill-row {
        text-align: center;
    }

    .skills-icons {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }
}

@media (max-width: 464px) {
    .skill-row {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .project-btn {
        width: 40%;
    }
    .projects-headline {
        padding-top: 10%;
    }
}

@media (max-width: 991px) {
    .project-btn {
        width: 50%;
    }
    .projects-headline {
        padding-top: 10%;
    }
}

@media (max-width: 767px) {
    .about-text {
        text-align: center;
        padding-left: 5%;
    }
    .intro-icons {
        padding-right: 0%;
    }
    .project-btn {
        width: 50%;
    }
    .projects-headline {
        padding-top: 15%;
    }
    .empty-box {
        padding: 3%;
    }
}

@media (max-width: 360px) {
    .project-btn {
        width: 60%;
    }
}

@media (max-width: 388px) {
    .rounded-circle {
        margin: 2px;
    }
}

@media (max-width: 384px) {
    .no-padding {
        font-size: 1.5rem;
    }
    .hello-text,.intro {
        font-size: 2.5rem;
    }
}

/******************** Footer ********************/

.footer {
    background-color: #364f6b;
    padding: 40px 0px;
}

.footer-link {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer-link:hover {
    color: #007bff;
}

.copyright {
    color: #ffffff;
    font-size: 0.9rem;
    padding-top: 30px;
    margin-bottom: 0px;
}