---
import about from '/about.jpg';
// import pkg from 'react-icons/fa6/index.esm.js';
// const { FaEnvelope } = pkg;
---

<div id='about' class='my-20'>
  <h1 class='text-center text-3xl text-gray-700 font-bold mb-8'>About me</h1>
  <div
    id='grid'
    class='bg-white rounded-xl grid grid-flow-row items-center justify-center justify-items-center gap-6 md:grid-cols-2 m-6 min-[300px]:m-10 sm:m-16 p-3 md:p-5'
  >
    <div
      class='min-[450px]:w-3/4 min-[550px]:w-3/5 md:w-full lg:w-3/4 xl:w-8/12'
    >
      <img class='w-full rounded-xl' src={about} alt='about image' />
    </div>
    <div class='text-gray-500 p-1 min-[250px]:p-2 min-[450px]:p-4'>
      <h3
        class='text-base min-[500px]:text-xl min-[850px]::text-2xl font-bold text-gray-700 lg:my-2'
      >
        Hi, I'm Aakash Dwivedy
      </h3>
      <h3
        class='text-sm min-[500px]:text-base min-[850px]:text-lg font-semibold my-1 lg:my-2'
      >
        Your friendly neighbourhood web developer from India!
      </h3>
      <div class='md:space-y-2'>
        <h3 class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1'>
          I am a passionate and creative tech geek and web developer. I create
          engaging and user-friendly digital experiences.
        </h3>
        <h3 class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1'>
          I have a keen eye for design and a love for coding and I'm constantly
          striving to push the boundaries of what's possible in the digital
          realm.
        </h3>
        <h3 class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1'>
          I have 1.5 years of experience as a front-end web developer at
          Codifiers.
        </h3>
        <h3
          class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1 lg:mb-2'
        >
          Feel free to catch me while I'm surfing the web!
        </h3>
        <a
          class='contents text-xl text-gray-500 hover:text-gray-700'
          href='mailto:aakashdwd07@gmail.com'
        >
          <!-- <FaEnvelope /> -->
        </a>
      </div>
    </div>
  </div>
</div>
