---
import about from '/aboutMe.jpg';
---

<div id='about' class='my-20'>
  <h1 class='text-center text-3xl text-gray-700 font-bold mb-8'>About me</h1>
  <div
    id='grid'
    class='bg-white rounded-xl grid grid-flow-row items-center justify-center justify-items-center gap-6 lg:grid-cols-2 m-6 min-[300px]:m-10 sm:m-16 p-3 md:p-5'
  >
    <div>
      <img class='w-full rounded-xl' src={about} alt='about image' />
    </div>
    <div class='text-gray-500 p-1 min-[250px]:p-2 min-[450px]:p-4'>
      <h3
        class='text-base min-[500px]:text-xl min-[850px]::text-2xl font-bold text-gray-700 lg:my-2'
      >
        Hi, I'm Aakash Dwivedy
      </h3>
      <h3
        class='text-sm min-[500px]:text-base min-[850px]:text-lg font-semibold my-1 lg:my-2'
      >
        Your friendly neighbourhood software developer from India!
      </h3>
      <div class='md:space-y-2'>
        <h3 class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1'>
          I am a passionate and creative tech geek and software developer. I
          create engaging and user-friendly digital experiences.
        </h3>
        <h3 class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1'>
          I have a keen eye for design and a love for coding and I'm constantly
          striving to push the boundaries of what's possible in the digital
          realm.
        </h3>
        <h3
          class='text-xs min-[500px]:text-sm min-[850px]:text-base my-1 lg:mb-2'
        >
          Feel free to catch me while I'm surfing the web!
        </h3>
        <a
          class='contents text-xl text-gray-500 hover:text-gray-700'
          href='mailto:aakashdwd07@gmail.com'
        >
          <svg
            class='h-5 w-5 fill-current'
            xmlns='http://www.w3.org/2000/svg'
            height='1em'
            viewBox='0 0 512 512'
            ><path
              d='M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z'
            ></path></svg
          >
        </a>
      </div>
    </div>
  </div>
</div>
