---
import profile from '/aakash.jpg';
---

<div
  class='grid items-center gap-8 md:gap-16 mx-6 sm:mx-16 lg:mx-32 md:grid-cols-2'
>
  {/* Text Content */}
  <div
    class='space-y-4 md:space-y-6 text-center md:text-left order-2 md:order-1'
  >
    <h1
      class='text-2xl sm:text-4xl md:text-5xl font-bold tracking-tight text-gray-900 dark:text-white'
    >
      Hi, I'm Aakash!
    </h1>
    <h2 class='text-base md:text-lg lg:text-xl text-gray-500 dark:text-gray-400 font-light leading-relaxed max-w-lg mx-auto md:mx-0'>
      An Android Developer specializing in Kotlin and Jetpack Compose. Passionate about blending scalable architecture with AI to build highly impactful mobile experiences.
    </h2>
  </div>

  {/* Image */}
  <div
    class='flex justify-center order-1 md:order-2 w-3/4 md:w-full max-w-md mx-auto'
  >
    <img 
      class='w-full h-auto rounded-full shadow-sm object-cover' 
      src={profile} 
      alt='Aakash Dwivedy' 
    />
  </div>
</div>
