---
import profile from '/aakash.jpg';
---

<div
  class='grid items-center justify-items-center gap-6 grid-flow-row mx-8 sm:mx-16 lg:mx-32 md:grid-cols-2'
>
  <div
    class='space-y-3 min-[300px]:space-y-4 text-center md:text-left order-1 md:order-1'
  >
    <h1
      class='text-2xl sm:text-3xl md:text-5xl font-bold leading-snug text-gray-700'
    >
      Hello there, <br /> I'm <span class=''>Aakash</span>
    </h1>
    <h1 class='text-xl sm:text-xl md:text-3xl text-gray-500'>
      I am an Android Developer and Front-End Web Developer.
    </h1>
    <h3 class='text-xs sm:text-sm text-gray-500'>
      I'm passionate about tech and love making cool mobile and web apps!
    </h3>
  </div>
  <div
    class='text-center -order-1 md:order-2 min-[450px]:w-8/12 md:w-full xl:w-11/12'
  >
    <img class='w-full h-auto rounded-full' src={profile} alt='Aakash' />
  </div>
</div>
