---
import Project from './Project.astro';
import codifiers from '/codifiers.png';
import greenhorn from '/greenhorn.png';
import portfolio from '/portfolio.png';
---

<div id='projects' class='my-20'>
  <h1 class='text-center text-3xl text-gray-700 font-bold mb-8'>My projects</h1>
  <div class='grid md:grid-cols-2 lg:grid-cols-3 mx-2 min-[450px]:mx-14'>
    <Project
      link={'#'}
      src={portfolio}
      name='Portfolio website'
      desc='A simple and modern personal portfolio website.'
      techStack='HTML, CSS, Tailwind CSS, JavaScript, ReactJS, and Astro.'
    />
    <Project
      link={'https://codifiers.in'}
      target={'_blank'}
      src={codifiers}
      name='Codifiers'
      desc='Made the website for Codifiers. Fast load time and mobile-friendly website design.'
      techStack='HTML, CSS, Tailwind CSS, JavaScript, ReactJS, and NextJS.'
    />
    <Project
      link={'#'}
      src={greenhorn}
      name='Green Horn'
      desc='Made a website for Green Horn and their product CyberKind.'
      techStack='HTML, CSS, JavaScript, and ReactJS.'
    />
  </div>
</div>
