---
import Project from './Project.astro';
import weatherApp from '/weatherApp.png';
---

<div id='projects' class='my-20'>
  <h1 class='text-center text-3xl text-gray-700 dark:text-gray-200 font-bold mb-8'>My projects</h1>
  <div class='grid md:grid-cols-2 lg:grid-cols-3 mx-2 min-[450px]:mx-14'>
    <Project
      link={'https://github.com/dwivedyaakash/WeatherApp'}
      target={'_blank'}
      src={weatherApp}
      name='Weather App'
      desc='Retrieves and displays weather data for the user current location using precise geolocation. Allows users to search and view weather conditions for any city worldwide. Built with MVVM pattern API calls.'
      techStack='Kotlin and Jetpack Compose.'
    />
  </div>
</div>
