<div id='skills' class='my-20'>
  <h1 class='text-center text-3xl text-gray-700 font-bold mb-8'>My skills</h1>
  <div class='grid sm:grid-cols-2 md:grid-cols-3'>
    <div class='m-4 sm:p-4 flex flex-col items-center'>
      <h3 class='text-lg text-center text-gray-500 mb-6'>
        Programming languages
      </h3>
      <div
        class='flex gap-4 flex-wrap justify-center items-center bg-slate-200 rounded-xl p-5'
      >
        <img
          src='https://skillicons.dev/icons?i=cpp,python,html,css,js&perline=3'
          alt='programming languages'
        />
      </div>
    </div>
    <div class='m-4 sm:p-4 flex flex-col items-center'>
      <h3 class='text-lg text-center text-gray-500 mb-6'>
        Frameworks and libraries
      </h3>
      <div
        class='flex gap-4 flex-wrap justify-center items-center bg-slate-200 rounded-xl p-5'
      >
        <img
          src='https://skillicons.dev/icons?i=bootstrap,tailwind,sass,jquery,react,vite,materialui,next,astro&perline=3'
          alt='frameworks and libraries'
        />
      </div>
    </div>
    <div class='m-4 sm:p-4 flex flex-col items-center'>
      <h3 class='text-lg text-center text-gray-500 mb-6'>Development tools</h3>
      <div
        class='flex gap-4 flex-wrap justify-center items-center bg-slate-200 rounded-xl p-5'
      >
        <img
          src='https://skillicons.dev/icons?i=vscode,git,github,gitlab,cloudflare,netlify,vercel&perline=3'
          alt='development tools'
        />
      </div>
    </div>
  </div>
</div>
