---
import Nav from '../components/Nav';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Aakash Dwivedy - Android Developer</title>
    <meta
      name='description'
      content="Hello there, I'm Aakash. I am a Software Development Engineer."
    />
    <meta
      name='keywords'
      content='JavaScript,android,kotlin,portfolio,aakashdwivedy,dwivedyaakash,Aakash,Dwivedy'
    />
    <!-- Open Graph -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://dwivedyaakash.github.io/' />
    <meta property='og:title' content='Aakash Dwivedy - Android Developer' />
    <meta
      property='og:description'
      content="Hello there, I'm Aakash. I am a Software Development Engineer."
    />
    <meta
      property='og:image'
      content='https://raw.githubusercontent.com/dwivedyaakash/dwivedyaakash.github.io/main/public/portfolio.jpg'
    />
    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://dwivedyaakash.github.io/' />
    <meta property='twitter:title' content='Aakash Dwivedy - Android Developer' />
    <meta
      property='twitter:description'
      content="Hello there, I'm Aakash. I am a Software Development Engineer."
    />
    <meta
      property='twitter:image'
      content='https://raw.githubusercontent.com/dwivedyaakash/dwivedyaakash.github.io/main/public/portfolio.jpg'
    />
    <!-- Favicon -->
    <link rel='icon' type='image/png' href='/favicon.png?v=1' />
    <link rel='apple-touch-icon' type='image/png' href='/favicon.png?v=1' />
    
    <!-- Dark Mode Initialization -->
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body class="bg-[#f0f0f0] dark:bg-black transition-colors duration-300">
    <main>
      <Nav client:load />
      <slot />
    </main>
  </body>
</html>
